* {
    user-select: none;
}

.c-toast-container.v--default-css {
    width:100%;
    .c-toast {
        display: inline-flex; 
        &.c-toast--warning {
            background: orange;
        }
        &.c-toast--success {
            background: green;
        }
        &.c-toast--error {
            background: red;
        }
        &.c-toast--info {
            background: blue;
        }
        &.c-toast--show {
            background: lightgray;
        }
    }
}

